
<div class="container">
  <mat-card>

    <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions" (change)="cardUpdated($event)" (error)="error = $event"></ngx-stripe-card>
    <mat-error>
      {{error?.message}}
    </mat-error>
    <button mat-raised-button (click)="getCardToken()" color="primary" [disabled]="!complete">Get Card Token</button>


  </mat-card>


  <div [fileUploadInputFor]="fileUploadQueue" class="upload-drop-zone">
    Just drag and drop files here
</div>
 
 
<div style="width: 500px">
    <mat-file-upload-queue #fileUploadQueue id="fileUploadQueue"
        [fileAlias]="'file'"
        [httpUrl]="'http://localhost:8180/jax-rs-jersey-application-sample'" multiple>
 
        <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
    </mat-file-upload-queue>
</div>


</div>
